# Libraries should never include
mix.lock

# Ignore compile artifacts
/_build
# Ignore VM crash artifacts
erl_crash.dump
# Ignore archive artifacts
*.ez
# Ignore test artifacts
writable.tmp
dump.rdb
Mnesia*

# Ignore tooling directories

/bench/graphs
/bench/snapshots
/cover
/deps
/doc
