language: elixir
otp_release:
  - 18.0
  # - 18.1
  # - 18.2
  - 18.3
  - 19.0
  # - 19.1
  - 19.2
  - 20.0
  - 20.1
elixir:
  - 1.3.0
  # - 1.3.1
  # - 1.3.2
  # - 1.3.3
  - 1.3.4
  - 1.4.0
  # - 1.4.1
  - 1.4.2
  - 1.5.0
  # - 1.5.1
  - 1.5.2
  # - 1.6.0
branches:
  only:
    - master
    - development
env:
  global:
    - MIX_ENV=test
    - PULL_REQUEST_ID=$TRAVIS_PULL_REQUEST
    - DOCTESTS=true
before_script:
  - rvm install ruby-2.3.1
  - gem install pronto-credo
script:
  - if [ $PULL_REQUEST_ID != false && -z "$GITHUB_ACCESS_TOKEN" ]; then pronto run -f github_pr github_status; fi
  - mix coveralls.travis
after_script:
  - mix deps.get
  - mix inch.report
services:
  - redis-server
  - memcached
cache:
  directories:
    - "/home/travis/.rvm/"
